
<html>
<head>
<#include  "fragments/head_includes.html">
</head>

<title>Change Password</title>
<body>
<div class="container">
    <div style="padding-top: 1em;"></div>
    <#include "fragments/title.html">
    <div style="padding-top: 1em;"></div>
    <div class="row">
		<div class="col-md-12">
	 		<h2 align="center">Change Password</h2>
		</div>
	</div> <!-- row -->
	<div style="padding-top: 1em;">
	<#if change_password_error?? && (change_password_error?length > 0)>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="inputError">${change_password_error}</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</#if>
	<form action="/change_password_form" method="post">
	    <!-- User Name -->
	    <#if user_name_error?? && (user_name_error?length > 0)>
		   <div class="form-group row">
		   	   <div class="col-sm-4"></div>
		   	   	   <span class="inputError">${user_name_error}</span>
		       <div class="col-sm-8">
		       </div>
		   </div>
	    </#if>
	    <#if change_type?? && (change_type.equals("change_password"))>
	         <input class="invisible" type="text" id="user_name" name="user_name" value=${user_name_val}>
	    <#else>
	        <div class="form-group row">
				<label for="title" class="col-sm-4 col-form-label">User name:</label>
				<!--  if the user name is OK, fill it in so the user doesn't have to keep retyping it if, for
				      example, the password and the duplicate password don't match. -->
				<div class="col-sm-8">
				   <#if user_name_val?? && (user_name_val?length > 0)>
				         <input type="text" id="user_name" name="user_name" value=${user_name_val}>
				   <#else>
				         <input type="text" id="user_name" name="user_name" placeholder="User name">
				   </#if>
				</div> <!-- col-md-8 -->
			</div> <!--  form-group row -->
	    </#if>
		<!-- Current (old) password -->
		<#if old_password_error?? && (old_password_error?length > 0)>
		   <div class="form-group row">
		   	   <div class="col-sm-4"></div>
		   	   <div class="col-sm-8">
		   	   	   <span class="inputError">${old_password_error}</span>
		       </div>
		   </div>
	    </#if>
		<div class="form-group row">
			<label for="title" class="col-sm-4 col-form-label">Current Password:</label>
			<div class="col-sm-8">
				<input type="password" id="old_password" name="old_password" placeholder="Password">
			</div> <!-- col-sm-8 -->
		</div> <!--  form-group row -->
		<!-- New Password -->
		<#if new_password_error?? && (new_password_error?length > 0) >
		   <div class="form-group row">
		   	   <div class="col-sm-4"></div>
		   	   <div class="col-sm-8">
		   	   	   <span class="inputError">${new_password_error}</span>
		       </div>
		   </div>
	    </#if>
		<div class="form-group row">
			<label for="title" class="col-sm-4 col-form-label">New Password:</label>
			<div class="col-sm-8">
				<input type="password" id="new_password" name="new_password" placeholder="Password">
			</div> <!-- col-sm-8 -->
		</div> <!--  form-group row -->
		<!-- Confirm Password -->
		<#if verify_password_error?? && (verify_password_error?length > 0)>
		   <div class="form-group row">
		   	   <div class="col-sm-4"></div>
		   	   	   <span class="inputError">${verify_password_error}</span>
		       <div class="col-sm-8"></div>
		   </div>
	    </#if>
		<div class="form-group row">
			<label for="title" class="col-sm-4 col-form-label">Verify Password:</label>
			<div class="col-sm-8">
				<input type="password" id="verify_password" name="verify_password" placeholder="Password">
			</div> <!-- col-sm-8 -->
		</div> <!--  form-group row -->
		<div class="form-group row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8">
			    <span>
				   <button type="submit" class="btn btn-primary">Change Password</button>
				</span>
				<span>
				    <a href="/application" id="cancel" name="cancel" class="btn btn-primary">Cancel</a>
				</span>
			</div>
		</div>
	</form>
</div> <!--  container  -->
</body>
</html>