<html>
<head>
<#include  "fragments/head_includes.html">
</head>

<title>Reset your password</title>
<body>
<div class="container">
    <div style="padding-top: 1em;"></div>
    <#include "fragments/title.html">
    <div style="padding-top: 1em;"></div>
    <div class="row">
		<div class="col-md-12">
	 		<h2 align="center">Reset your password</h2>
		</div>
	</div> <!-- row -->
	<div style="padding-top: 1em;"></div>
	 <!-- Post to the login form -->
		<form action="/forgot_password_form" method="post">
		    <!-- User Name -->
		    <#if user_name_error?? && (user_name_error?length > 0)>
		        <div class="form-group row">
				    <div class="col-sm-4"></div>
					<div class="col-sm-8">
						<span class="inputError">${user_name_error}</span>
					</div>
				</div>
			</#if>
			<div class="form-group row">
				<label for="title" class="col-sm-4 col-form-label">User name:</label>
				<div class="col-sm-8">
						<input type="text" id="user_name" name="user_name" placeholder="User name">
				</div> <!-- col-md-8 -->
			</div> <!--  row -->
			<div class="form-group row">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
				    <span>
					    <button type="submit" class="btn btn-primary">Reset password</button>
					</span>
					<span>
						<a href="/" id="cancel" name="cancel" class="btn btn-primary">Cancel</a>
					</span>
				</div>
			</div>
	   </form>
</div> <!-- container -->
</body>
</html>